# App
PORT=3001
NODE_ENV=development

# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/elevator_db"

# JWT
JWT_SECRET="your-super-secret-key-change-this-in-production-min-32-chars"
JWT_EXPIRES_IN="15m"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Seed (used by prisma/seed.ts)
SUPER_ADMIN_NAME="Super Admin"
SUPER_ADMIN_EMAIL="superadmin@example.com"
SUPER_ADMIN_PASSWORD="ChangeMe@123"
